// fonts
$default-fonts: Arial, sans-serif
+font('Helvetica Roman', 'helveticaneuecyr-roman-webfont')
+font('Helvetica Medium', 'helveticaneuecyr-medium-webfont')
+font('Helvetica Bold', 'helveticaneuecyr-bold-webfont')
+font('Helvetica Ligjt', 'helveticaneuecyr-light-webfont')
$helv: 'Helvetica Roman', $default-fonts
$helv-l: 'Helvetica Light', $default-fonts
$helv-m: 'Helvetica Medium', $default-fonts
$helv-b: 'Helvetica Bold', $default-fonts

// colors
$black: #0e1b28

/* ==========================================================================
   Main Styles
   ========================================================================== */
a:hover, a:focus
	text-decoration: none
a
	color: inherit
	text-decoration: none
svg
	width: 100%
	height: 100%
.is-hidden
	display: none
.row
	+pie-clearfix
// *
// 	+selection
// 		color: #fff
// 		background-color: $red
body
	font-family: $helv
	font-size: 14px
	color: $black
	line-height: 1.25
.wrapper
	margin: 0 auto
	min-height: 100%
.wrap
	margin-left: auto
	margin-right: auto
	padding-left: 15px
	padding-right: 15px
	width: 990px
	transition: all 0.3s
.clearfix
	+pie-clearfix
/* ==========================================================================
   Header
   ========================================================================== */
.header
	+pie-clearfix
	&__top
		padding: 21px 0 22px
		box-shadow: 0 5px 30px rgba(246, 247, 247, 0.5)
		background-image: linear-gradient(to top, white 0%, #f6f6f6 100%)
	&__nav
		color: #343e49
		letter-spacing: 0.012em
	&__link
		position: relative
		display: inline-block
		padding: 0 35px
		&:hover
			color: #4fbe48
		&:after
			content: ''
			position: absolute
			top: 2px
			bottom: 2px
			right: 0
			width: 1px
			background-color: #c7c7c7
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
			&:after
				content: none
				display: none
	&__bottom
		padding: 10px 0 0
		background-image: linear-gradient(to top, white 0%, #f6f6f6 100%)
		+pie-clearfix
		&:after
			content: ''
			display: block
			height: 6px
			background-color: #2d5d8d
			background-image: linear-gradient(to right, #47719b 0%, #67c94d 100%)
	.logo
		float: left
		margin-top: 20px
		margin-right: 25px
	&__desc
		float: left
		margin-top: 13px
		font-size: 12px
		color: #727c87
		line-height: 18px
	&__call
		float: right
		padding-bottom: 10px
		font-size: 24px
	&__number
		color: #0e1b28
	&__el
		font-family: $helv-b
	&__recall
		position: relative
		top: -5px
		display: inline-block
		font-size: 14px
		color: #2fae42
		cursor: pointer
		border-bottom: 2px dotted #2fae42
		line-height: 22px
.logo
	&__title
		font-size: 0
		text-indent: -999px
		width: 0
		height: 0
		opacity: 0
/* ==========================================================================
   Footer
   ========================================================================== */
.footer
	height: 40px
	&__bottom
		padding: 17px 0 8px
		background-image: linear-gradient(to top, white 0%, #f6f6f6 100%)
		+pie-clearfix
	.logo
		float: left
		margin-top: 20px
		margin-right: 25px
	&__desc
		float: left
		margin-top: 13px
		font-size: 12px
		color: #727c87
		line-height: 18px
	&__call
		float: right
		padding-bottom: 10px
		font-size: 24px
	&__number
		color: #0e1b28
	&__el
		font-family: $helv-b
	&__recall
		position: relative
		top: -5px
		display: inline-block
		font-size: 14px
		color: #2fae42
		cursor: pointer
		border-bottom: 2px dotted #2fae42
		line-height: 22px
/* ==========================================================================
   Main
   ========================================================================== */
.green-btn
	width: 360px
	height: 76px
	font-family: $helv-b
	font-size: 18px
	color: #fff
	line-height: 76px
	letter-spacing: 0.03em
	text-align: center
	text-shadow: 1px 1.7px 2px rgba(0,0,0,.25)
	cursor: pointer
	background-color: black
	background-image: linear-gradient(to top, #2eae42 0%, #6aca4d 100%)
	border-radius: 4px
	box-shadow: 0 4px 0 #1d8d2e
	&:hover
		background-image: linear-gradient(to top, darken(#2eae42,10) 0%, darken(#6aca4d,10) 100%)
		box-shadow: 0 4px 0 darken(#1d8d2e,10)
.start
	overflow: hidden
	position: relative
	color: #ffffff
	background: url('../img/bg_1.jpg') 0 0 no-repeat
	background-size: cover
	> .wrap
		padding-top: 60px
		padding-bottom: 250px
		position: relative
	&__bg
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-5%,-60%)
		background: url(../img/bg_girl.png) 175% 0 no-repeat
		width: 744px
		height: 598px
	&__ann
		font-size: 18px
		line-height: 30px
	&__title
		position: relative
		padding-bottom: 15px
		width: 500px
		font-family: $helv-m
		font-size: 36px
		line-height: 48px
		letter-spacing: 0.03em
		&:after
			content: ''
			position: absolute
			left: 0
			bottom: 0
			width: 40px
			height: 4px
			background-color: #91f375
	&__subtitle
		margin-top: 25px
		width: 470px
		font-size: 24px
		line-height: 36px
		letter-spacing: 0.015em
	.green-btn
		margin-top: 30px
	&__worktime
		position: absolute
		top: 155px
		left: 50%
		width: 168px
		height: 168px
		line-height: 24px
		text-align: center
		background-color: #2d5d8d
		background-image: linear-gradient(to top, #4d818d 0%, #4d818d 100%)
		border-radius: 100%
		+vertical
	&__text
		width: 80%
		+vcenter
		&-el
			color: #91f375

/*-------------- Advantages ---------------*/
.title
	font-family: $helv-b
	font-size: 36px
	line-height: 48px
	text-align: center
.subtitle
	font-family: $helv-l
	font-size: 18px
	line-height: 36px
	text-align: center
	letter-spacing: 0.03em
.advantages
	padding-bottom: 80px
	color: #0e1b28
	&__list
	&__el
		display: inline-block
		margin-top: 70px
		margin-right: -4px
		padding-left: 40px
		vertical-align: middle
		width: 33.3%
		+pie-clearfix
		&:nth-child(3n + 1)
			padding-left: 0
	&__icon
		float: left
		margin-right: 30px
		.icon
			position: relative
			&.icon-cert
				top: 5px
			&.icon-pig
				top: 10px
			&.icon-pocket
				top: 25px
	&__text
		overflow: hidden
		margin-top: 20px
		&-title
			font-family: $helv-m
			font-size: 18px
		&-desc
			margin-top: 10px
			line-height: 24px

/*-------------- Auction ---------------*/
.auction
	position: relative
	margin-top: -180px
	padding: 70px 75px 95px
	background: url('../img/bg_action.png') 0 0 no-repeat
	width: 1000px
	height: 437px
	+pie-clearfix
	.counter
		position: relative
		margin-top: 20px
		&__value
			position: relative
			z-index: 2
			font-size: 36px
			line-height: 42px
		&__rect
			position: absolute
			z-index: 1
			top: -6px
			left: 65px
			width: 52px
			height: 50px
			background-image: linear-gradient(to top, #091a31 0%, #0b213d 100%)
			border-radius: 2px
			box-shadow: 0 2px 2px #14335b
			& + .counter__rect
				left: 136px
				& + .counter__rect
					left: 206px
					& + .counter__rect
						left: 276px
	&__col
		float: left
		width: 50%
		&_left
			margin-top: 20px
			padding-right: 30px
			color: #fff
			text-align: center
		&_right
			padding-left: 40px
	&__title
		font-family: $helv-b
		font-size: 36px
	&__desc
		margin-top: 5px
		font-size: 18px
		line-height: 24px
	&__text
		margin-top: 20px
		font-size: 12px
	.form-auction
		margin-top: 20px
		&__input
			padding-left: 15px
			padding-right: 15px
			width: 360px
			height: 50px
			font-family: $helv-l
			font-size: 12px
			color: #14335b
			line-height: 50px
			background-image: linear-gradient(to top, #fcfcfc 0%, #f2f2f2 100%)
			+placeholder-color(#14335b)
			& + .form-auction__input
				margin-top: 10px
				margin-bottom: 20px
		&__help
			display: none
			margin-top: 15px
			font-size: 18px
			color: #fff
			text-align: center
/*-------------- Services ---------------*/
.services
	padding-top: 70px
	padding-bottom: 80px
	color: #fff
	background: url('../img/bg_services.jpg') 0 0 no-repeat
	background-size: cover
	&__list
		margin-top: 80px
		margin-left: -15px
		+pie-clearfix
		.card
			float: left
			margin-left: 15px
.card
	overflow: hidden
	width: 310px
	height: 350px
	background-color: #fff
	&:nth-child(3) ~ &
		margin-top: 20px
	&__wrapper
		height: 190px
		overflow: hidden
		img
			width: 100%
			height: auto
			vertical-align: bottom
	&__inner
		position: relative
		padding: 20px 35px 30px
		height: 160px
		text-align: center
	&__name
		font-size: 18px
		color: #0e1b28
		line-height: 28px
	.green-btn
		position: absolute
		z-index: 1
		width: auto
		left: 35px
		right: 35px
		bottom: 30px
		height: 46px
		line-height: 46px
/*-------------- Work ---------------*/
.work
	position: relative
	background-image: linear-gradient(to top, white 0%, #eaf1f1 100%)
	.wrap
		position: relative
		padding-top: 70px
		height: 1025px
		background: url('../img/bg_work.png') center center no-repeat
	&__text
		position: absolute
		z-index: 1
		font-size: 14px
		color: #0e1b28
		line-height: 24px
		&_1
			top: 292px
			left: 736px
		&_2
			left: 827px
			top: 476px		
		&_3
			left: 736px
			top: 692px
			width: 150px
		&_4
			top: 697px
			left: 120px
			width: 140px
			text-align: right
		&_5
			top: 477px
			left: 20px
			width: 140px
			text-align: right
	&__number
		position: absolute
		z-index: 1
		color: #fff
		font-size: 36px
		&_1
			top: 286px
			left: 676px
		&_2
			left: 767px
			top: 491px			
		&_3
			left: 676px
			top: 697px
		&_4
			top: 697px
			left: 305px
		&_5
			top: 491px
			left: 206px
/*-------------- Projects ---------------*/
.projects
	margin-top: 20px
	padding-top: 180px
	padding-bottom: 80px
	color: #fff
	background: url('../img/bg_projects.jpg') 0 0 no-repeat
	.auction
		margin-top: -360px
		margin-bottom: 40px
.slider
	margin: 70px auto 0
	width: 860px
	height: 580px
	background-color: #FFF
	box-shadow: 0 20px 30px rgba(24, 60, 106, 0.4)
	sup
		position: relative
		top: -6px
		left: 1px
		font-size: 12px
	&__el
		position: relative
	&__img
		position: relative
		height: 500px
		overflow: hidden
		img
			width: 100%
			height: auto
	&__col
		width: 50%
		&_left
			position: absolute
			z-index: 1
			left: 0
			top: 0
			bottom: 0
			border-right: 2px solid #47af44
			background-color: rgba(0,0,0,.3)
		&_right
			position: absolute
			z-index: 1
			left: 50%
			top: 0
			bottom: 0
			border-left: 2px solid #47af44
	&__before
		position: absolute
		z-index: 1
		top: 40px
		left: 70px
		padding-left: 25px
		padding-right: 25px
		font-size: 14px
		color: #fff
		line-height: 40px
		background-color: rgba(0,0,0,.7)
	&__after
		position: absolute
		z-index: 1
		top: 40px
		right: 70px
		padding-left: 25px
		padding-right: 25px
		font-size: 14px
		color: #fff
		line-height: 40px
		background-color: rgba(41,152,62,.7)
	&__desc
		height: 80px
		font-size: 18px
		color: #0e1b28
		line-height: 80px
		span
			font-family: $helv-b
		.slider__col
			display: inline-block
			margin-right: -4px
	&__square
		padding-right: 30px
		text-align: right
	&__time
		text-align: left
		padding-left: 15px
	.slick-prev,
	.slick-next
		position: absolute
		z-index: 2
		top: 250px
		background-color: transparent
	.slick-prev
		left: 60px
	.slick-next
		right: 60px
	.icon
		display: block
/*-------------- Comments ---------------*/
.comments
	padding-top: 70px
	padding-bottom: 280px
	background-image: linear-gradient(to top, #eaf1f1 0%, white 100%)
.slider-com
	margin-top: 70px
	margin-left: 50px
	margin-right: 50px
	&__el
		text-align: center
		cursor: pointer
	&__img
		overflow: hidden
		margin: 0 auto
		width: 120px
		height: 120px
	&__client
		margin-top: 7px
		font-size: 18px
		color: #26963b
		line-height: 30px
	&__text
		margin-top: 5px
		padding-left: 15px
		padding-right: 15px
		font-size: 14px
		line-height: 24px
	.slick-dots
		margin-top: 20px
		text-align: center
		li
			display: inline-block
			margin-left: 5px
			margin-right: 5px
			button
				overflow: hidden
				width: 20px
				height: 20px
				background-color: #fff
				border: 2px solid #214871
				border-radius: 100%
				text-indent: -9999px
			&.slick-active
				button
					background-color: #26963b
					border-color: transparent
/*-------------- Map ---------------*/
.map
	position: relative
	.auction
		position: absolute
		top: 0
		width: 960px
		padding: 70px 75px 80px
		z-index: 1
		.counter__rect
			transform: translateX(-10px)
#map
	height: 410px
/* ==========================================================================
   Other Styles
   ========================================================================== */

